USE [master]
GO
/****** Object:  Database [QLGIAY]    Script Date: 6/3/2022 8:56:42 AM ******/
CREATE DATABASE [QLGIAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGIAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLGIAY.mdf' , SIZE = 15552KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLGIAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLGIAY_log.ldf' , SIZE = 32960KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGIAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGIAY]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [int] IDENTITY(1,1) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [int] NOT NULL,
	[MASIZE] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIAGIAY] [float] NOT NULL,
	[TONGGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAY]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAY](
	[MAGIAY] [int] IDENTITY(1,1) NOT NULL,
	[TENGIAY] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](50) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[MASHOP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGGIAY]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGGIAY](
	[MAHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TONGSOLUONG] [int] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[MASHOP] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SDTKH] [nvarchar](20) NOT NULL,
	[GIOITINH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIGIAY]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIAY](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[SDTNV] [nvarchar](20) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[MASHOP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHOP]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP](
	[MASHOP] [int] IDENTITY(1,1) NOT NULL,
	[TENSHOP] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[STD] [nvarchar](20) NOT NULL,
	[MACN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [int] IDENTITY(1,1) NOT NULL,
	[KICHCO] [nvarchar](50) NULL,
	[GIA] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAGIAY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Test]    Script Date: 6/3/2022 8:56:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Test](
	[ProductID] [varchar](255) NOT NULL,
	[ProductName] [text] NOT NULL,
	[Weight] [real] NOT NULL,
	[Capacity] [real] NOT NULL,
	[Price] [real] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHINHANH] ON 

INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (1, N'Chi nhánh 1')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (2, N'Chi nhánh 2')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (3, N'Chi nhánh 3')
SET IDENTITY_INSERT [dbo].[CHINHANH] OFF
INSERT [dbo].[CTHOADON] ([MAHD], [MASIZE], [SOLUONG], [GIAGIAY], [TONGGIA]) VALUES (4, 1, 2, 200000, 400000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASIZE], [SOLUONG], [GIAGIAY], [TONGGIA]) VALUES (5, 3, 1, 220000, 220000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASIZE], [SOLUONG], [GIAGIAY], [TONGGIA]) VALUES (6, 1, 2, 200000, 400000)
SET IDENTITY_INSERT [dbo].[GIAY] ON 

INSERT [dbo].[GIAY] ([MAGIAY], [TENGIAY], [MOTA], [MALOAI], [MAHANG], [MASHOP]) VALUES (1, N'Adidas Ultra Boost', N'Giày thể thao cá tính', 2, 1, 1)
INSERT [dbo].[GIAY] ([MAGIAY], [TENGIAY], [MOTA], [MALOAI], [MAHANG], [MASHOP]) VALUES (2, N'Nike Air Force 1', N'Giày thể thao mạnh mẽ', 2, 3, 1)
INSERT [dbo].[GIAY] ([MAGIAY], [TENGIAY], [MOTA], [MALOAI], [MAHANG], [MASHOP]) VALUES (3, N'Gucci Princetown Leather', N'Giày tây nam tính', 3, 4, 1)
SET IDENTITY_INSERT [dbo].[GIAY] OFF
SET IDENTITY_INSERT [dbo].[HANGGIAY] ON 

INSERT [dbo].[HANGGIAY] ([MAHANG], [TENLOAI]) VALUES (1, N'ADIDAS')
INSERT [dbo].[HANGGIAY] ([MAHANG], [TENLOAI]) VALUES (2, N'PUMA')
INSERT [dbo].[HANGGIAY] ([MAHANG], [TENLOAI]) VALUES (3, N'NIKE')
SET IDENTITY_INSERT [dbo].[HANGGIAY] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [TONGSOLUONG], [TONGTIEN], [MASHOP], [MANV], [MAKH]) VALUES (4, CAST(N'2022-03-05' AS Date), 2, 400000, 1, 1, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [TONGSOLUONG], [TONGTIEN], [MASHOP], [MANV], [MAKH]) VALUES (5, CAST(N'2022-03-05' AS Date), 2, 440000, 1, 2, 2)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [TONGSOLUONG], [TONGTIEN], [MASHOP], [MANV], [MAKH]) VALUES (6, CAST(N'2022-03-05' AS Date), 2, 400000, 2, 3, 3)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [GIOITINH]) VALUES (1, N'Nguyễn Văn A', N'019412345', 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [GIOITINH]) VALUES (2, N'Nguyễn Văn B', N'019412346', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDTKH], [GIOITINH]) VALUES (3, N'Nguyễn Văn C', N'019412347', 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIGIAY] ON 

INSERT [dbo].[LOAIGIAY] ([MALOAI], [TENLOAI]) VALUES (1, N'Giày thường')
INSERT [dbo].[LOAIGIAY] ([MALOAI], [TENLOAI]) VALUES (2, N'Giày thể thao')
INSERT [dbo].[LOAIGIAY] ([MALOAI], [TENLOAI]) VALUES (3, N'Giày tây')
SET IDENTITY_INSERT [dbo].[LOAIGIAY] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDTNV], [GIOITINH], [NGAYVAOLAM], [MASHOP]) VALUES (1, N'Ngô Quốc Thắng', N'091765543', 1, CAST(N'2022-02-05' AS Date), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDTNV], [GIOITINH], [NGAYVAOLAM], [MASHOP]) VALUES (2, N'Mai Nhật Nam', N'091765544', 1, CAST(N'2022-02-02' AS Date), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDTNV], [GIOITINH], [NGAYVAOLAM], [MASHOP]) VALUES (3, N'Nguyễn Thành Tuân', N'091765545', 1, CAST(N'2022-02-02' AS Date), 2)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SHOP] ON 

INSERT [dbo].[SHOP] ([MASHOP], [TENSHOP], [DIACHI], [STD], [MACN]) VALUES (1, N'Shop 1', N'Vĩnh Long', N'0123456789', 1)
INSERT [dbo].[SHOP] ([MASHOP], [TENSHOP], [DIACHI], [STD], [MACN]) VALUES (2, N'Shop 2', N'Tiền Giang', N'0123456788', 2)
INSERT [dbo].[SHOP] ([MASHOP], [TENSHOP], [DIACHI], [STD], [MACN]) VALUES (3, N'Shop 3', N'Kiên Giang', N'0123456787', 3)
SET IDENTITY_INSERT [dbo].[SHOP] OFF
SET IDENTITY_INSERT [dbo].[SIZE] ON 

INSERT [dbo].[SIZE] ([MASIZE], [KICHCO], [GIA], [SOLUONG], [MAGIAY]) VALUES (1, N'45', N'200000', 10, 1)
INSERT [dbo].[SIZE] ([MASIZE], [KICHCO], [GIA], [SOLUONG], [MAGIAY]) VALUES (2, N'46', N'200000', 20, 1)
INSERT [dbo].[SIZE] ([MASIZE], [KICHCO], [GIA], [SOLUONG], [MAGIAY]) VALUES (3, N'45', N'220000', 10, 2)
SET IDENTITY_INSERT [dbo].[SIZE] OFF
INSERT [dbo].[Test] ([ProductID], [ProductName], [Weight], [Capacity], [Price]) VALUES (N'B115', N'GP11A HV Alkaline', 150, 6, 0.68)
INSERT [dbo].[Test] ([ProductID], [ProductName], [Weight], [Capacity], [Price]) VALUES (N'B221', N'C Cell Super Alkaline', 120, 1.5, 1.92)
INSERT [dbo].[Test] ([ProductID], [ProductName], [Weight], [Capacity], [Price]) VALUES (N'C100', N'AA Ultra Alkaline', 100, 1.5, 1.47)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__DD065565C6070948]    Script Date: 6/3/2022 8:56:42 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDTKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__DD064CB0C2F30EB4]    Script Date: 6/3/2022 8:56:42 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDTNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SHOP__CA1EB6E12DAACE8B]    Script Date: 6/3/2022 8:56:42 AM ******/
ALTER TABLE [dbo].[SHOP] ADD UNIQUE NONCLUSTERED 
(
	[STD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[GIAY]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGGIAY] ([MAHANG])
GO
ALTER TABLE [dbo].[GIAY]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIGIAY] ([MALOAI])
GO
ALTER TABLE [dbo].[GIAY]  WITH CHECK ADD FOREIGN KEY([MASHOP])
REFERENCES [dbo].[SHOP] ([MASHOP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MASHOP])
REFERENCES [dbo].[SHOP] ([MASHOP])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MASHOP])
REFERENCES [dbo].[SHOP] ([MASHOP])
GO
ALTER TABLE [dbo].[SHOP]  WITH CHECK ADD FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[SIZE]  WITH CHECK ADD FOREIGN KEY([MAGIAY])
REFERENCES [dbo].[GIAY] ([MAGIAY])
GO
USE [master]
GO
